* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url(amazon.jpg);
    background-size: cover;
    height: 50px;
    width: 100px;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}



/** box2 **/
.add-first {
    color: antiquewhite;
    font-size: 0.85rem;
    margin-left: 10px;
}



.add-second {
    font-size: 1rem;
    margin-left: 3px;
}



.add-icon {
    display: flex;
    align-items: center;
}



/** box3 **/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(243, 171, 64);
    width: 500px;
    height: 30px;
    border-radius: 4px;
}

.search-select {
    background-color: rgba(106, 158, 15, 0.39);
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border: none;
}



.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}



.search-icon {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1, 2rem;
    background-color: rgb(213, 147, 5);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: rgba(0, 0, 0, 0.916);
}



.nav-search:hover {
    border: 2px solid- rgb(255, 145, 0);
}



/** box4 **/
span {
    font-size: 0.7rem;
}




.nav-second {
    font-size: 0.86Rem;
    font-weight: 400;
}




/** box6 **/
.nav-cart i {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/** panle **/
.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: aliceblue;
    align-items: center;
    justify-content: space-evenly;
}


.panel-ops p {
    display: inline;
    margin-left: 10px;
}

.panel-ops {
    width: 70%;
    font-size:  0.85rem;
}


.panel-deals {
    font-size: 0.9rem;
    font-weight: 350;

}

/** hero section **/
.hero-section {
    background-image: url(hero.jpg);
    background-size: cover;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg {
    background-color: aliceblue;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-msg a{
    color: #4a777e;
}


/** shop section **/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly ;
    background-color: #40ac97;
}
.box {
    border: 2px solid black;
    height:350px; 
    width: 23%;
    background-color: aliceblue;
    padding: 20px  0px 15px;
    margin-top: 15px ;
    
}

.box-img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{  
      margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    color: rgb(168, 240, 240);
}

/** footer **/
footer {
   margin: top 15px; 
background-color:#131A22 ;
color:#ffffff ;
font: size 14px; ;
padding: 20px; ;


}



.f00t-panell  {
    background-color:rgb( 28,27,27) ;
    color: rgb( 252,246.,246);
    height: 50px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85em;
}

.foot-panelz{
    background-color:rgb(28, 27n, 27) ;
    color:rgb( 251,245,245);
    height: 300px; 
    display: flex;
    justify-content:space-evenly ;
opacity: 1;
filter: none;

}

ul  {
    margin: top 20px; 
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin: top 10px; 
    color:#dddddd;
}

.f00t-panel3 {
    background-color: #222f3d;
    color: white;
    border-top:0.5px soid white border ;
    height:70px ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image:url( amazon.jpg) ;
    background-size: cover;
    height:50 ;
    width: 100px;
    justify-content: center;
}

.foot-panel4 {
    background-color: black;
    color: aliceblue;
    height: 80px; 
    font-size:0.7;
    text-align: center;
    align-items: center;
}

.pages {
    padding-top: 25px; 
}

.copyright {
    padding-top:5px ;
} 

.box-content p{
    color: aqua;
}